body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #E8F5E9;
}

h1 {
    color: #848cdb;
}

#todo-list {
    margin-top: 20px;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f397da;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

button {
    margin-left: 5px;
    cursor: pointer;
}
